<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlappySmasher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73FB10A11D5C898600ABF217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73FB10B91D5C898700ABF217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73FB10C41D5C898700ABF217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
